ul.nav-bar {
    list-style: none;
    background-color: rgb(178, 178, 206);
}

li {
    /* padding: 3%; */
}
.nav-bar a {
    border: 1px solid;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

.nav-bar li:hover {
    background-color: green;
}

.home, .about-me{
    border: 1px solid;
    height:300px;
}